# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# bunx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

# Next Auth Discord Provider
# Steps:
# 1. https://discord.com/developers/applications Go to this website and login.
# 2. You have landed on the applications page, create a new application and call it whatever you like.
# 3. Once you're in settings, head over to the tab: 'OAuth2'.
# 4. You should see Client ID and Client Secret, you've probably guessed it.. You should copy those.
#    Don't worry about the SECRET, if you have it saved use that one, otherwise reset anc copy paste here.
# 5. In the same page add a redirect. Fill in: http://localhost:3000/api/auth/callback/discord
# 6. Save that and you should be ready to go.

AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""

# P.S. I tried my best explaining, big chance that researching yourself maybe more usefull.


POSTGRES_USER="postgres"
POSTGRES_PASSWORD="test"
POSTGRES_DATABASE="flowreel"
POSTGRES_PORT=5432

NEXT_PUBLIC_SOCKET_URL="https://localhost:3000"

NODE_ENV="development"

SSL_CERT_PATH=/app/certs/localhost.pem
SSL_KEY_PATH=/app/certs/localhost-key.pem

# Drizzle
DATABASE_URL="postgresql://postgres:test@db:5432/flowreel"